<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Home</title>
</head>
<body>

<h2>Welcome <span th:text="${username}"></span></h2>

<div sec:authorize="isAuthenticated()">
    <form method="get" th:action="@{/webauthn/register}">
        <button type="submit">Register Passkey</button>
    </form>
</div>


<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>


</body>
</html>
